<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/RadioTaxiJVM?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>    
    
    <property name="hibernate.hbm2ddl.auto">update</property>
            
    <mapping class="taxi.modelo.Administrador"></mapping>
    <mapping class="taxi.modelo.Empleado"></mapping>
    <mapping class="taxi.modelo.Socio"></mapping>
    <mapping class="taxi.modelo.Cliente"></mapping>
    <mapping class="taxi.modelo.Ruta"></mapping>
    <mapping class="taxi.modelo.Multa"></mapping>
    <mapping class="taxi.modelo.Llamada"></mapping>
    <mapping class="taxi.modelo.Unidad"></mapping>
                
  </session-factory>
</hibernate-configuration>
